
/*nav*/
.nav {
    float: left;
    width: 200px;
    border: 1px solid #ff4200;
    margin-right: 10px;
}

.nav h1 {
    background: #ff4200;
    color: #fff;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
}

.nav .nav_con {
    /*padding: 15px;*/
    position: relative;
}

.nav .nav_con > dl {
    padding: 0 15px 20px 15px;
    padding-bottom: 8px;
    background:url("../images/arrow.png") 177px 38px no-repeat;
    position: relative;
}
.nav .nav_con > dl:hover{
    background:url("../images/arrow_while.png") 177px 38px no-repeat;
    background-color:#feb01a ;

}
.nav .nav_con > dl:hover a.first{
    color: #fff;
}
.nav .nav_con > dl > dt {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    font-size: 14px;
    height: 24px;
    /*padding-bottom: 3px;*/
    position: relative;
    padding-left: 25px;
}

.nav .nav_con > dl > dd > a:hover {
    color: #ff4200;
}
.nav dt i{
    display: inline-block;
    position: absolute;
    top: 12px;
    background: url("../images/nav_icon.png") 0 0 no-repeat;
    left: 0px;
}
.nav dt i.nav-04{ background-position: 0 0; width: 23px; height: 25px; }
.nav dt i.nav-05{ background-position: 0 -35px; width: 17px; height: 20px; }
.nav dt i.nav-06{ background-position: 0 -65px; width: 21px; height: 18px; }
.nav dt i.nav-07{ background-position: 0 -93px; width: 16px; height: 16px; }
.nav dt i.nav-08{ background-position: 0 -119px; width: 13px; height: 20px; }
.nav dt i.nav-09{ background-position: 0 -149px; width: 21px; height: 22px; }
.nav dt i.nav-10{ background-position: 0 -181px; width: 24px; height: 27px; }
.nav dt i.nav-11{ background-position: 0 -218px; width: 20px; height: 23px; }
.nav dt i.nav-12{ background-position: 0 -251px; width: 26px; height: 29px; }
.nav dt i.nav-Home{ background-position: 0 -290px; width: 16px; height: 14px; }
.nav dt i.nav-Pichet{ background-position: 0 -314px; width: 17px; height: 22px; }
.nav dt i.nav-arrow{ background-position: 0 -346px; width: 5px; height: 6px; }
.nav dt i.nav-furniture{ background-position: 0 -362px; width: 20px; height: 13px; }
/*nav-second*/
.nav .nav_con .nav_con_second{
    position: absolute;
    z-index: 9;
    left:0;
    margin-left: 200px;
    border: 1px solid #feb01a;
    width: 235px;
    background: #fff;
    padding: 15px;
    top: 0;
}
.nav_con_second > dl{
    overflow: hidden;
    margin-bottom:20px ;
}
.nav_con_second > dl > dt{
    font-size: 14px;
    font-weight: bold;
    background: url("../images/nav_second_bg.jpg") 0 bottom no-repeat;
    padding-bottom: 15px;
    margin-bottom: 5px;
    /*float: left;*/
}
.nav_con_second > dl > dd{
    padding-right: 5px;
    margin: 5px 5px 5px 0;
    border-right: 1px solid #eee;

    float: left;
}
/*content*/

.content .content_show {
    background: #f5f5f5;
    border: 1px solid #ebebeb;
    padding: 10px;
}

.content_show .show_big {
    float: left;
}
.content_show .show_small {
    margin: 0 0 0 20px;
    float: left;
}
.content_show .show_small dd {
    border: 3px solid #fff;
    /*z-index: 2;*/
    position: relative;

}
.content_show .show_small dd img{
    position: relative;
    z-index: 2;
}
.content_show .show_small i{
    top:35px;
    left: -10px;
    position: absolute;
    z-index: 1;
    color: #ff4200;
    font-size: 24px;
    visibility: hidden;
}
.content_show .show_small dd:hover {
    border: 3px solid #ff4200;
}
.content_show .show_small dd:hover i{
    visibility: visible;
}
.content_show .show_small dd {
    /*margin-bottom: 2px;*/
}
.content .recommend{
    margin-top: 10px;
}
.content .recommend i{
    background: url("../images/recomment.png") 0 0 no-repeat;
    display: inline-block;
    width: 20px;
    height: 29px;
    margin-top: -15px;
    position: relative;
    top: 3px;
    left: -5px;
    margin-left: 5px;
}
.content .recommend h2{
    margin-bottom: 5px;
    margin-top: 15px;
    padding-left: 5px;
    color:#333 ;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
}
.content .recommend{
    margin-top: 10px;
}
.content .recommend i{
    background: url("../images/recomment.png") 0 0 no-repeat;
    display: inline-block;
    width: 20px;
    height: 29px;
    margin-top: -15px;
    position: relative;
    top: 3px;
    left: -5px;
    margin-left: 5px;
}
.content .recommend h2{
    margin-bottom: 5px;
    margin-top: 15px;
    padding-left: 5px;
    color:#333 ;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
}