.pagination{
    overflow: hidden;
    margin-top: 20px;
float: right;
    margin-right: 100px;
}
.pagination dl{
    overflow: hidden;
    float: left;
}
.pagination dl dt a{
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
    border:1px solid #ededed;
    line-height: 35px;
}

.pagination dl dd a{
     float: left;
     width: 35px;
     height: 35px;
     text-align: center;
     border:1px solid #ededed;
     border-right: none;
     line-height: 35px;
 }
/*.pagination dl dd:last-child a {*/
    /*border-right: 1px solid #ededed;*/
/*}*/
.pagination dl dt a:hover,.pagination dl dd a:hover{
    background: #ff4400;
    color: #fff;
}
.pagination dl dt,.pagination dl dd{
    float: left;
}
.pagination dl dt.prev{
    margin-right: 5px;
}
.pagination dl dt.next{
    margin-left: 5px;
}
.pagination span{
    /*width: 35px;*/
    height: 35px;
    line-height: 35px;
    /*text-align: center;*/
}
.pagination span.total{
    margin-left: 10px;
}
.pagination input{
    width: 25px;
    text-align: center;
    margin: 0 3px;
}
.pagination .button{
    cursor: pointer;
    background: #ff4400;
    text-align: center;
    border: none;
    border-radius: 3px;
    height: 26px;
    line-height: 26px;
    color: #fff;
}
.pagination .button:hover{
background-color: #ff8a00;
}
.pagination input.submit{
    width:44px ;
}
.pagination .rss{
    width: 85px;
    margin-left: 10px;
    text-align: right;
    padding-right: 10px;
    background-image: url("../images/icon.png");
    background-position:  0 -98px;
    background-repeat: no-repeat;
}