/*content*/
.cate > dl {
    overflow: hidden;
    padding-left: 85px;
    font-size: 14px;
    border: 1px solid #e8e8e8;
    background: #fff;
    height: 37px;
    line-height: 37px;
    position: relative;
    border-top: none;
}

.cate > dl dt {
    position: absolute;
    width: 70px;
    text-align: right;
    left: 15px;
    float: left;
    margin-right: 40px;
    height: 100%;
}

.cate > dl dd {
    float: left;

}

.cate > dl dd a {
    padding: 0px 5px;
    border: 2px solid transparent;
}

.cate > dl dd:hover a {
    border: 2px solid #feb529;
}

.cate dl.related {
    border-top: 1px solid #e8e8e8;
    background: -webkit-linear-gradient(top, #fff, #f5f5f5);
    background: -moz-linear-gradient(top, #fff, #f5f5f5);
    overflow: hidden;
    height: 100%;
}

.cate .check > dl {
    padding-left: 15px;
    margin-top: 20px;
    overflow: hidden;
}

.cate .check dl dd {
    float: left;
}

.cate .check dl dd input {
    position: relative;
    top: 2px;
    margin: 0 30px 0 5px;
}

.cate .search_screening {
    padding-left: 15px;
    border: 1px solid #eaeaea;
    background: #f3f3f3;
    height: 37px;
    line-height: 37px;
    margin-top: 10px;
    color: #666;
    position: relative;
}

.cate .search_screening h4 {
    float: left;
    font-size: 14px;
    margin-right: 5px;
}

.cate .search_screening select {
    padding: 3px 1px;
    min-width: 100px;
    position: relative;
    margin-right: 5px;
}
.cate .search_screening .search_input{
    position: relative;
}
.cate .search_screening .search_input input {
    height: 26px;
    line-height: 26px;
    padding: 0 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 170px;
    position: relative;
    z-index: 0;
}
.cate .search_screening .search_input i{
    cursor: pointer;
    position: absolute;
    z-index: 2;
    right: 5px;
    top: -6px;
    background:url("../images/icon.png") 0 -70px no-repeat;
    display: inline-block;
    width: 25px;
    height: 30px;
}
.cate .search_screening .list_mode {
    position: absolute;
    right: 20px;
    top: 8px;
}

.cate .search_screening .list_mode dd {
    width: 27px;
    height: 25px;
    float: left;
    cursor: pointer;
}

.cate .search_screening .list_mode dd {
    background: url("../images/icon.png") 0 0 no-repeat;
}

.cate .search_screening .list_mode dd.mode_img {
    background-position: 0 -50px;

}

.cate .search_screening .list_mode dd.mode_img:hover {
    background-position: 0 -24px;
}

.cate .search_screening .list_mode dd.mode_info {
    background-position: -30px -49px;

}

.cate .search_screening .list_mode dd.mode_info:hover {
    background-position: -30px -24px;
}

.cate .search_screening .list_mode dd.img_hover {
    background-position: 0 -24px;
}

.cate .search_screening .list_mode dd.info_hover {
    background-position: -30px -24px;
}

.cate .border_bottom {
    height: 2px;
    background: #feb529;
    width: 100%;
}

/*产品列表*/
.content .p_list {
    /*padding: 20px;*/
}

.content .p_list:after {
    content: "";
    visibility: hidden;
    height: 0;
    display: block;
    clear: both;
}

.content .p_list > dl {
    overflow: hidden;
    border-bottom: 1px solid #efefef;
    margin: 0 20px;
}
.content .p_list > dl:last-child{
    border-bottom: none;
    margin-bottom: 10px;
}
.content .list_dl_margin_no dl {
    margin: 0;
}

.content .p_list > dl dd {
    margin: 20px 0 10px 34px;
    float: left;
}

.content .p_list > dl dd:first-child {
    margin-left: 0;
}

.content .p_list > dl dd a {
    display: block;
    text-align: center;
    font-size: 14px;
}

.content .p_list > dl dd a img {
    height: 184px;
    width: 204px;
}

.content .p_list > dl dd a span {
    display: block;
    text-align: center;
    height: 24px;
    line-height: 24px;
}

.list_info {
        padding: 15px 0;
    border-bottom: 1px solid #ececec;
}
.list_info:after{
    content: "";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
.list_info .p_img {
    float: left;
    margin-right: 20px;
}

.list_info .p_img img {
    width: 205px;
    height: 185px;
}

.list_info .introduce {
    width: 700px;
    float: left;
}

.list_info .introduce dl.title {
    position: relative;
    padding: 8px 15px;
    border-bottom: 1px solid #ededed;
    overflow: hidden;
}

.list_info .introduce dl.title dt {
    font-size: 17px;
    font-weight: bold;
    color: #656565;
    float: left;
    margin-right: 20px;
}

.list_info .introduce dl.title dd {
    position: relative;
    top: 5px;
    float: left;
}
.list_info .introduce dl.title dd i{
    position: relative;
    top: -5px;
    background: url("../images/header_icon.png") 0 -50px no-repeat;
    width: 17px;
    height: 18px;
    float: left;
    margin-right: 5px;
}

.list_info .introduce dl.title dd.times {
    position: absolute;
    top: 15px;
    right: 10px;
}

.list_info .introduce dl.parameter {
    overflow: hidden;
    padding:7px 15px;
}

.list_info .introduce dl.parameter dd {
    margin-right: 20px;
    float: left;
}

.list_info .introduce .bottom {
    position: relative;
}

.list_info .introduce .bottom dl.tag {
    padding: 15px;
    width: 330px;
    float: left;
}

.list_info .introduce .bottom dl.tag dt {
    margin:10px 0 20px 0;
    font-size: 14px;

}
.list_info .introduce .bottom dl.tag dt i{
        background: url("../images/icon.png") 0 -122px no-repeat;
    float: left;
    width: 18px;
    height: 25px;
}
.list_info .introduce .bottom dl.tag dd {
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

.list_info .introduce .bottom dl.tag dd a {
    background-color: #f3f3f3;
    padding: 0 3px;
    color: #999898;
}
.list_info .introduce .bottom dl.tag dd a:hover{
    color: #ff4200;
}
.list_info .introduce .bottom .price {
    margin-top: 10px;
    float: left;
}
.list_info .introduce .bottom .price i{
    font-style: italic;
}
.list_info .introduce .bottom .price span {
    font-size: 21px;
}

.list_info .introduce .bottom .download {
    background: url("../images/icon.png") -17px 9px no-repeat;
    background-color: #ff4200;
    position: absolute;
    right: 30px;
    top: 5px;
    border-radius: 5px;
}
.list_info .introduce .bottom .download a{
    text-align: right;
    width: 70px;
    height: 34px;
    line-height: 34px;
    padding:0 20px 0 10px;
    font-size: 18px;
    color: #fff;
    float: left;
}
/*详情页*/
/*icon*/
.detail_top i, .detail_con i,.detail_detail_intro i{
    background: url("../images/detail_icon.png") no-repeat top left;
    position: absolute;
}
i.detailFavorite{ background-position: 0 0; width: 30px; height: 22px; top: 12px; }
i.detailbig_next{ background-position: 0 -42px; width: 37px; height: 48px; }
i.detailbig_next_hover{ background-position: 0 -110px; width: 43px; height: 45px; }
i.detailbig_prev{ background-position: 0 -175px; width: 37px; height: 48px; }
i.detailbig_prev_hover{ background-position: 0 -243px; width: 43px; height: 45px; }
i.detailcomment{ background-position: 0 -308px; width: 16px; height: 13px;top: 10px;left: 22px; }
i.detaildown_load{ background-position: 0 -341px; width: 18px; height: 11px;left: 5px;top: 10px; }
i.detailevaluation{ background-position: 0 -372px; width: 19px; height: 14px;left: 5px;top: 9px;  }
i.detaileye{ background-position: 0 -406px; width: 18px; height: 11px;top: 10px;left: 20px; }
i.detailfill{ background-position: 0 -437px; width: 26px; height: 24px;top: 12px;left: 55px; }
i.detailid_code{ background-position: 0 -481px; width: 20px; height: 16px;left:2px; }
i.detailmodel{ background-position: 0 -517px; width: 18px; height: 20px;left: 25px;top: 6px; }
i.detailparameter{ background-position: 0 -557px; width: 13px; height: 18px; top: 6px;left:8px}
i.detailpay_card{ background-position: 0 -595px; width: 19px; height: 14px;top: 8px;left: 2px; }
i.detailreturn_credit{ background-position: 0 -629px; width: 9px; height: 12px;top: 10px;left: 10px; }
i.detailshare{ background-position: 0 -661px; width: 34px; height: 23px;top: 15px; }
i.detailsmall_next{ background-position: 0 -704px; width: 40px; height: 58px;right: 35px;top: 10px; }
i.detailsmall_next_hover{ background-position: 0 -782px; width: 28px; height: 30px; }
i.detailsmall_prev{ background-position: 0 -832px; width: 40px; height: 58px;left: 0px;top: 10px }
i.detailsmall_prev_hover{ background-position: 0 -910px; width: 28px; height: 30px; }
i.detailtag{ background-position: 0 -960px; width: 20px; height: 12px;top: 10px;left: 20px; }
i.detailupload_outhor{ background-position: 0 -992px; width: 16px; height: 16px; left: 8px; }
/*icon----end*/
.detail .detail_top{
    margin-top: 20px;
    overflow: hidden;
}
.detail .detail_top .detail_show{
    float: left;
    margin-right:20px ;
}
.detail .detail_top .detail_show .big i{
    display: inline-block;
    position: relative;
    top: -135px;
    margin: 0 2px;
}
.detail .detail_top .detail_show .big i:first-child{
    margin-left: 0;
}
.detail .detail_top .detail_info{
    float: left;
}
.detail .detail_top .detail_info h1{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    height: 32px;
    line-height: 32px;
}
.detail .detail_top .detail_info dl{
    overflow: hidden;
}
.detail .detail_top .detail_info .price{
    padding-left: 25px;
    margin: 50px 0 0 0;
    font-size: 14px;
    color: #393737;
    position: relative;
    height: 24px;
    line-height: 24px;
}
.detail .detail_top .detail_info .download{
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    width: 390px;
    border-radius: 5px;
    background: #ff4200;
    font-size: 18px;
    display: block;
    margin: 20px 5px 0 5px;
    position: relative;
}
.detail .detail_top .detail_info .download:hover{
background: #ff8a00;
}
.detail .detail_top .detail_info .download i.download_icon_btn{
    background: url("../images/icon.png") -30px 0 no-repeat;
    height: 20px;
    width: 30px;
    position: absolute;
    left: 145px;
    top: 11px;
}
.detail .detail_top .detail_info .price span{
    font-size: 21px;
}
.detail .detail_top .detail_info dl dt,.detail .detail_top .detail_info dl dd{
    position: relative;
    float: left;
    padding-left:26px;
    height: 20px;
    line-height: 20px;
}
.detail .detail_top .detail_info dl dd{
    float: right;
}
.detail .detail_top .detail_info dl.list_info{
    border: none;
}
.detail .detail_top .detail_info dl.list_info dd{
    height: 34px;
    line-height: 34px;
    border-top: 1px solid #eaeaea;
    float: none;
    position: relative;
    font-size: 14px;
}
.detail .detail_top .detail_info dl.list_info dd:first-child{
    border-top: none;
}
.detail .detail_top .detail_info dl.icon{
    width: 400px;
    height: 86px;
    background: url("../images/detail_icon_bg.png") 0 0 no-repeat;
    border-top: none;
    margin-top: 20px;
}
.detail .detail_top .detail_info dl.icon dd{
    width: 132px;
    text-align: center;
    border-right: 1px solid #e6e6e6;
    float: left;
    height: 86px;
    line-height: 120px;
    padding-left: 0;
    font-size: 16px;
    color: #6d6d6d;
    cursor: pointer;
}
.detail .detail_top .detail_info dl.icon dd:hover{
    background: #f6f3f3;
}
.detail .detail_top .detail_info dl.icon dd:last-child{
    border-right: none;
}
.detail .detail_top .small{
    position: relative;
    margin-left: 45px;
    margin-bottom: 20px;
    clear: both;
    overflow: hidden;
}
.detail .detail_top .small dl{
    overflow: hidden;
    margin-left: 40px;
    width: 390px;
    float: left;
}
.detail .detail_top .small dl dd{
    margin: 0 8px;
    float: left;
}
.detail_top .cut_off{
    font-size: 14px;
    color: #666;
    margin-top: 25px;
    margin-bottom: 30px;
    float: left;
}
.detail_top .cut_off span{
    display: inline-block;
    margin-left: 45px;
    float: left;
}
.detail_top .cut_off p{
    float: left;
    height: 1px;
    background: #ccc;
    width: 200px;
    position: relative;
    top: 16px;
}
/*文字内容区*/

.detail_con{
    overflow: hidden;
border: 1px solid #e3e3e3;
}
.detail_con .detail_con_nav dl{
    width: 970px;
    border: none;
    border-bottom: 1px solid #e3e3e3;
    background: #f7f7f7;
    height: 36px;
    line-height: 36px;
    position: relative;
}
.detail_con .detail_con_nav dl dd{
    float: left;
    width: 90px;
    text-align: center;
    font-size: 16px;
    color: #333;
    border-bottom: 3px solid #717171;
    cursor: pointer;
    border-left: 1px solid #bbb;
}
.detail_con .detail_con_nav dl dd:first-child{
    border-left:none;
}
 .detail_con .nav > dd:hover {
     border-bottom: 3px solid #f2460a;

}
.detail_con .nav span.bor{
    width: 610px; float: left; border-bottom: 3px solid #717171; height: 36px
}
.detail_con .nav_con dl.con{
    padding: 40px 20px 10px 20px;
    overflow: hidden;
    float: left;
}
.detail_con .nav_con .con dt{
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #ececec;
    font-size: 16px;
    color: #666;
    padding-left: 55px;
    margin-bottom: 25px;
    position: relative;
}
.detail_con .nav_con .tag dd{
    float: left;
    font-size: 14px;
    color: #999898;
    background: #f3f3f3;
    padding: 2px 3px;
    margin: 5px 15px;
}
.detail_con .nav_con .intro dd{
    text-indent: 2em;
    line-height: 26px;
    font-size: 14px;
    color: #6d6d6d;
    padding: 0 20px;
}
.detail_con .nav_con .comment dd{
    padding: 0 20px;
    overflow: hidden;
}
.detail_con .nav_con .comment textarea{
    width: 740px;
    height: 180px;
    border: 1px solid #ababab;
    background: #f9f9f9;
    float: left;
}
.detail_con .nav_con .comment .evaluation{
    margin-top: 20px;
    float: left;
    margin-left: 30px;
}
.detail_con .nav_con .comment .star_font{
    margin: 20px 0;
    font-size: 14px;
    color: #333;
    width: 100px;
    text-align: center;
}
.detail_con .nav_con .comment .star{
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-size: 16px;
    color: #feb01a;
}
.detail_con .nav_con .comment .evaluation .button{
    width: 100px;
    height: 34px;
    font-size: 16px;
    line-height: 34px;
    background: #ff4200;
    border-radius: 5px;
    text-align: center;
    border: none;
    color: #fff;
    cursor: pointer;
}
.detail_con .nav_con .comment .evaluation .button:hover{
    background: #ff8a00;
}
.detail_con .nav_con .comment_list{

}
.comment_list{
    padding:0 40px;
    overflow: hidden;
    float: left;
}
.comment_list .author{
    float: left;
    overflow: hidden;
    width: 100px;
    text-align: center;
}
.comment_list .author dt{
    padding: 0;
    margin:0;
    height: auto;
    line-height: normal;
}
.comment_list .author dt img{
    width: 40px;
    height: 40px;
}
.comment_list .comment_con{
    font-size: 14px;
    width: 610px;
    padding: 0 20px;
    float:left;
    overflow: hidden;
    line-height: 18px;
    position: relative;
}
.comment_list .list_cy{
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 30px 0;
    float: left;
}
/*.comment_list .list_cy:first-child{*/
    /*padding-top: 0;*/
/*}*/
.comment_list .comment_con .comment_parm{
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}
.comment_list .comment_con .comment_parm dl{
    color: #b0b0b0;
    font-size: 12px;
    position: relative;
}
.comment_list .comment_con .comment_parm dl dd{
    margin-right:10px;
    float: left;

}
.comment_list .comment_con .comment_parm dl dd.avail{
    right: 0;
    position: absolute;
}
.comment_list .comment_con .comment_parm dl dd.avail a{
    color: #3366cc;

}
.comment_list .comment_con .comment_parm dl dd.avail a:hover{
    color: orange;
}
.side_r .detail_detail_intro{
    position: absolute;
    right: 0;
    width: 198px;
    border: 1px solid #d9d9d9;
    padding-bottom: 10px;
    margin-top: 20px;
}
.side_r .detail_detail_intro dt{
    position: relative;
background: #efefef;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
    padding-left: 25px;
}
.side_r .detail_detail_intro dd{
    margin: 15px 25px;
}
.side_r .detail_detail_intro dd p{
    display: inline-block;
    color: #606060;
}
.side_r .detail_detail_intro dd span{
color: #b2b1b1;
}
.star_gray{
    color: #666;
}
.star{
    color: orangered;
    position: relative;
    margin-left: 10px;
}