
/*content*/

.content .p_list{
    border: 1px solid #ccc;
    /*padding: 20px;*/
}
.content .p_list:after{
    content: "";
    visibility: hidden;
    height: 0;
    display: block;
    clear:both;
}
.content .p_list dl{
    overflow: hidden;
    border-bottom:1px solid #efefef ;
    margin: 0 20px;
}
.content .p_list dl dd{
    margin:20px 0 10px 34px ;
    float: left;
}
.content .p_list dl dd:first-child{
    margin-left: 0;
}
.content .p_list dl dd a{
    display: block;
    text-align: center;
    font-size: 14px;
}
.content .p_list dl dd a img{
    height: 184px;
    width: 204px;
}
.content .p_list dl dd a span{
    display: block;
    text-align: center;
    height: 24px;
    line-height: 24px;
}
